<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação Move o Mundo</title>
    <link rel="stylesheet" href="inicio.css">
</head>
<body>
    <div class="cabeca">
        <h1>Educação Move o Mundo</h1>
    </div>
    <div class="menu">
            <a href="/">
                <p>Início</p>
        <a href="de">
                <p>Portal</p>
        <a href="cad">
                <p>Inscrição</p>
    </div>
    <div class="conteudo">
        <div class="coluna-lateral-esquerda"> 
            <p>Descubra nesse site como, e porquê, a educação é importante  e deve ser ofertada para todas as pessoas.

                Caso saiba de alguém que não esteja na escola por qualquer motivo,
                acesse: Incrição.</p>   
        </div>
    </div>
    <div class="im1">
        <img src="img\educação-aa 2.png" alt="Mundo">
    </div>
</body>
</html>