<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação Move o Mundo</title>
    <link rel="stylesheet" href="portal.css">
</head>
<body>
    <div id="container">
        <header class="cabecalho">
            <div class="centralizar">
                <h1>Educação Move o Mundo</h1>
            </div>
        </header>

        <div class="sidebar">
            <button class="sidebar__toggle" type="button" aria-label="Toggle sidebar"></button>
            <ul class="sidebar__navigation sidebar-navigation">
              <li class="sidebar-navigation__item">
                <a class="sidebar-navigation__link" href="/" title="Home">Início</a>
              </li>
              <li class="sidebar-navigation__item">
                <a class="sidebar-navigation__link" href="/de" title="Formulários">Portal</a>
              </li>
              <li class="sidebar-navigation__item">
                <a class="sidebar-navigation__link" href="/desk" title="Menus Html">Inscrições</a>
              </li>
            </ul>
          </div><!--Sidebar-->

          <script type="text/javascript">
    
            var toggleBtn = document.querySelector('.sidebar__toggle');
            var sidebar = document.querySelector('.sidebar');
            toggleBtn.addEventListener('click', clickToggleBtnHandler);
            function clickToggleBtnHandler() {
                sidebar.classList.toggle('sidebar--active');
            }
        </script>
        
    <div class="conteudo">
        <div class="coluna-lateral-esquerda"> 
          <div class="textos">
          <p>Neste portal você receberá notícias, experiencias e inpirações de ex-alunos formados. </p>
          </div>      
        </div>       
    </div>
    <div class="im2">
      <img src="img\mundo.png" alt="World">
    </div>
</body>
</html>
