<html>
    <head>
        <title>
            Formulário
        </title>
        <script>
            console.log("O log foi feito onde?") %>
        </script>
    </head>
    <body>
        <form action="/ola" method="get">
            <label>Escreva seu nome:</label>
            <input type="text" name="nome">
            <label>Escreva seu sobrenome:</label>
            <input type="text" sobrenome="sobrenome">
            <label>Escreva sua cidade:</label>
            <input type="text" cidade="cidade">
            <input type="submit">
        </form>
    </body>
</html>