<html><head>
    <title> Como criar um formul치rio completo em HTML </title>
    <meta name="description" content="Aprenda a criar um site completo que usa formul치rios em HTML">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    
    <body>
    <h1> Bem vindo ao site HTML Progressivo</h1>
    <h2> Preencha o formul치rio abaixo para participar do curso de HTML &amp; CSS completo, online e gr치tis</h2><br>
    
    <form action="Script_do_Formulario.php????!!!" method="post">
    
    <!-- DADOS PESSOAIS-->
    <fieldset>
    <legend>Dados Pessoais</legend>
    <table cellspacing="10">
    <tbody><tr>
    <td>
    <label for="nome">Nome: </label>
    </td>
    <td align="left">
    <input type="text" name="nomezinho">
    </td>
    <td>
    <label for="sobrenome">Sobrenome: </label>
    </td>
    <td align="left">
    <input type="text" name="sobrenome">
    </td>
    </tr>
    <tr>
    <td>