<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>pagina</h1>
    <span>Olá! Me chamo Sabrina, estudante do IFF Quissamã</span>
    <ul>
        <a href="/obj">
            <li>objetivos</li>
        </a>
        <a href="/tec">
            <li>tecnologias</li>
        </a>
    </ul>
</body>
</html>